{
  // see https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "strict": 0,                      // use strictは許可 http://eslint.org/docs/rules/strict
    "func-names": 0,                  // 無名関数は許可 http://eslint.org/docs/rules/func-names
    "indent":[4, 4, {"SwitchCase": 1}], // http://eslint.org/docs/rules/indent
    "callback-return":2 ,             // http://eslint.org/docs/rules/callback-return
    "handle-callback-err":2,          // http://eslint.org/docs/rules/handle-callback-err
    "no-param-reassign":0,            // http://eslint.org/docs/rules/no-param-reassign
    "no-cond-assign": [2, "except-parens"], // http://eslint.org/docs/rules/no-cond-assign
    "arrow-parens": [2, "always"]          // http://eslint.org/docs/rules/arrow-parens
  }
}